.container {
  background-color: #302c42;
  height: 100%;
  padding: 20px 22px 20px 26px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 12vh;
  background-color: $dark;

  &__icon {
    color: $white;
    width: 42px;
    height: 33px;
    font-size: 32px;
  }
}
.header .text {
  color: $white-50;
  width: 80%;
  text-align: left;
  font-size: 14px;
  font-family: $font-poppins;
  font-weight: 300;
  padding: 5px;
}

.logo--adalab {
  width: 123px;
  height: 46px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 377px;
}
