@import "../core/variables";

.autor {
    margin: 0 auto 15px auto;
    background-color: white;
    color: #3e3e3e;
    width: 302px;
    height: 214px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    padding: 5px;
    @media all and (min-width: 768px) {
    width: 467px;
    height: 312px;
    }
}

.landing{
display: grid;
grid-column: 1/3;
}

.section-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}

.subtitle {
    font-family: $font-montserrat;
    font-size: 18px;
    color: $white;
    text-align: center;
    margin-bottom: 10px;
}

.buttons-img {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 150px;
    margin-top: 20px;
    margin-right: 15px;
    color: white;
    text-align: center;
    border: none;
    height: 34px;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 40px;
    padding: 10px;
    }

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 18px 0 19px 0;
    font-family: $font-montserrat;
    @media all and (min-width: 1024px) {
    font-size: 40px;
    }
}

.landing-card{
    @media all and (min-width: 1024px) {
display: flex;
flex-direction: row;
flex-wrap: wrap;
    }
}