.container {
  background-color: #302c42;
  padding: 20px 22px 20px 26px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  height: 8vh;
  background-color: $dark;
  @media (min-width: 768px) {
    padding-bottom: 0px;
    height: 5vh;
  }
  &__icon {
    color: $white;
    width: 42px;
    height: 33px;
    font-size: 32px;
  }
  &__text {
    color: $white-50;
    width: 80%;
    text-align: left;
    font-size: 14px;
    font-family: $font-poppins;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
  }
  &__logo--adalab {
    width: 123px;
    height: 46px;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 377px;
  @media (min-width: 768px) {
    height: 650px;
  }
}
