.main {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    min-height: 765px;
  }
}

.main .preview .autor {
  background-color: white;
  color: #3e3e3e;
  width: 302px;
  height: 214px;
  transform: translateY(-20px);
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  padding: 5px;
  @media all and (min-width: 768px) {
    width: 467px;
    height: 312px;
  }
}
//info-autor
.info-autor {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  .image-autor {
    border-radius: 50%;
    width: 70.5px;
    height: 74.8px;
    border: 1px solid black;
    @media all and (min-width: 768px) {
      width: 109px;
      height: 109px;
      margin-top: 20px;
    }
  }
  .job {
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: #909090;
    font-size: 10px;
    padding-bottom: 5px;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }
  .name {
    font-weight: bold;
    font-family: "Catamaran", sans-serif;
    font-size: 14px;
    color: black;
    @media all and (min-width: 768px) {
      font-size: 18px;
    }
  }
}
//info-project
.info-project {
  width: 70%;
  @media all and (min-width: 768px) {
    margin-top: 15px;
  }
  .subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 8px;
    font-weight: lighter;
    text-align: center;
    color: #302c42;
    background-color: white;
    position: relative;
    z-index: 1;
    width: 93px;
    margin-left: 40px;
    padding-top: 15px;
    @media all and (min-width: 768px) {
      font-size: 10px;
      margin-left: 80px;
      width: 110px;
    }
  }
  .title-project {
    font-family: "Poppins", sans-serif;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
  .desc {
    font-family: "Poppins", sans-serif;
    font-size: 8px;
    margin-bottom: 10px;
    line-height: 1.76;
    @media all and (min-width: 768px) {
      font-size: 10px;
    }
  }
  .slogan {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #575757;
    margin-bottom: 10px;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }
  .line {
    width: 100%;
    border: 0;
    height: 2px;
    transform: translateY(-7px);
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(1, 1, 1, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
}
.btn-color {
  border-radius: 20px;
  width: 85px;
  height: 30px;
  font-weight: bold;
}
.btn-color-dark {
  background-color: black;
  color: white;
}
//technologies
.technologies {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #505050;
  padding-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media all and (min-width: 768px) {
    font-size: 12px;
    padding: 10px;
  }
}
.icons {
  display: flex;
  gap: 10px;
}
.icon {
  border-radius: 10px;
  box-shadow: 0 0 5px #60686b;
  background: #fff;
  @media all and (min-width: 768px) {
    font-size: 15px;
  }
}
//generic
.card {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
