:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/main";
@import "layout/preview";
@import "layout/footer";
@import "layout/getavatar";
@import "layout/errors";
